body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #bcbcc5;
    color: #fff;
}

h1 {
    color: #c6bebe;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background-color: #3a3737;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #030303;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.result-box {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background-color: #3a3737;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-box h2 {
    color: #28a745;
}

.error {
    color: #ff4c4c;
    text-align: center;
}
